<!--<label for="dataTypeSelect" class="sr-only">Data type:</label>-->
<!--<select name="dataTypeSelect" id="dataTypeSelect" ng-options="option.name for option in choice.datatype.availableOptions track by option.id" ng-model="choice.datatype.selectedOption" class="col-md-4" required></select>-->

<!--<label for="operationSelect" class="sr-only">Opeartion:</label>-->
<!--<select name="operationSelect" id="operationSelect" ng-options="option.name for option in choice.operation.availableOptions track by option.id" ng-model="choice.operation.selectedOption" class="col-md-4" required></select>-->
<!--<label for="inputConditionNumber" class="sr-only">Number</label>-->
<!--<input ng-model="choice.datavalue" type="text" id="inputConditionNumber" class="form-control" placeholder="Value" required>-->

<!--<br><br>-->
<!--<label for="logicgateSelect" class="sr-only">Logic gate:</label>-->
<!--<select name="logicgateSelect" id="logicgateSelect" ng-options="option.name for option in choice.logicgate.availableOptions track by option.id" ng-model="choice.logicgate.selectedOption" class="col-md-4"></select>-->
<!--&lt;!&ndash;<button class="btn btn-lg btn-primary btn-block btn-theme btn-condition" style="padding: 0;" type="button">Add Condition</button>&ndash;&gt;-->
<!--<br><br>-->

<!--<label for="dataTypeSelectSecond" class="sr-only">Data type:</label>-->
<!--<select name="dataTypeSelectSecond" id="dataTypeSelectSecond" ng-options="option.name for option in datatypesecond.availableOptions track by option.id" ng-model="datatypesecond.selectedOption" class="col-md-4"></select>-->

<!--<label for="operationSelectSecond" class="sr-only">Opeartion:</label>-->
<!--<select name="operationSelectSecond" id="operationSelectSecond" ng-options="option.name for option in operationsecond.availableOptions track by option.id" ng-model="operationsecond.selectedOption" class="col-md-4"></select>-->
<!--<label for="inputConditionNumberSecond" class="sr-only">Number</label>-->
<!--<input ng-model="datavaluesecond" type="text" id="inputConditionNumberSecond" class="form-control" placeholder="Value">-->

<!--<br><br>-->
<!--<label for="dateSelect" class="sr-only">Date:</label>-->
<!--<select name="dateSelect" id="dateSelect" class="col-md-4" ng-options="option.name for option in choice.date.availableOptions track by option.id" ng-model="choice.date.selectedOption" required></select>-->

<!--<label for="timeSelect" class="sr-only">Time:</label>-->
<!--<select name="timeSelect" id="timeSelect" class="col-md-4" ng-options="option.name for option in choice.time.availableOptions track by option.id" ng-model="choice.time.selectedOption" required></select>-->

